.container {
    display: flex;
}

.chats{
    width: 20%;
    background-color: #fff;
    height: 100vh;
}   

.boxchat{
    display: flex;
    flex-direction: column;
    border: solid 1px gray;
}

.logchat{
    display: flex;
    width: 100%;
    flex-direction: column;
    text-align: center;
    justify-content: center;
    border: 1.5px solid black;
    
}

.logchat img {
    display: flex;
    
    width: 300px;
    padding-left: 470px
}

h1{
    font-family: "Open Sans", sans-serif;
}

h5{
    font-family: sans-serif, "Roboto";
}